.Container {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #1b3149;
    height: 100vh;
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerContainer {
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 20px;
    background: #000000;
    padding: 20px;
}

.innerContainer h2{
    color: white;
    text-transform: uppercase;
    
    
}

.innerContainer input {
    background: none;
    text-align: center;
    /* color: black; */
    border: 2px solid #3498db;
    padding: 10px 10px;
    margin: 10px auto;
    border-radius: 20px;
    outline: none;
    width: 200px;
    transition: 0.25s;
    color: white;
}

.innerContainer input:focus{
    border-color: #2ecc71;
    width: 280px;

}

.innerContainer button{
    background: none;
    border: 2px solid #3498db;
    padding: 10px 10px;
    margin: 10px auto;
    width: 100px;
    border-radius: 20px;
    color: white;
    outline: none;

}

.innerContainer button:hover{
    background: #2ecc71;
}
.chatImage{
    width: 25%;
    height: auto;
}