.inuserMessageContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
}

.outuserMessageContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 5px;
}

.intextContainer {
  /* border: 1px solid black; */
  margin-left: 5px;
  background: #2962ff;
  border-radius: 5%;
  padding: 5px;
  display: inline-block;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 30px;
  max-width: 80%;

}

.outtextContainer {
  /* border: 1px solid black; */
  margin-right: 5px;
  background: #80808057;
  border-radius: 5%;
  padding: 5px;
  display: inline-block;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 30px;
  max-width: 80%;

}

.displayName {
  margin: 5px;
  font-family: Helvetica;
  color: #828282;
}
